langchain
langchain_core
langchain-community
chromadb
fastapi
uvicorn
pydantic
pymongo 
langchain-groq
langgraph
pandas 
pypdf
pillow 
numpy
uuid
easyocr
sentence_transformers
dotenv
datasets
ragas
langchain-huggingface